/* .about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 20px 20px; 
  display: block;
  text-align: center;
}
.about-us h2{
  font-weight: 900;
  font-size: 40px;
  color: rgba(0,175,239,255);
}
.about-us h4{
  font-weight: 600;
  font-size: 25px;
  color: rgba(0,175,239,255)
} */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.about-us{
  margin: 100px;
}
@media(max-width:600px){
  .about-us{
  margin: 0;
  }
}

