.Manufacturing{
  width: 100%;
  min-height: 100vh;
  background:linear-gradient(rgba(44, 110, 215, 0.7),rgba(44, 110, 215,0.7)), url("../assets/chicken.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.Med{
  width:100%;
  position: relative;
  border-radius: 15px;
  transition: all .3s ease-in-out;
  .Med-img{
    position: relative;
    width: 100%;
    top: -20px;
    transition: all .3s ease-in-out;
    display: flex;
    &::after{
      content: "";
      width: 40%;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      bottom: 1px;
      transform: translateX(-50%);
      box-shadow: 0 20px 12px 0 rgba(0,0,0,.7);
      transition: all .3s ease-in-out;
    }
    img{
      transform: scale(1);
      transition: all .3s ease-in-out;
    }

  }
}
.card-body{
  padding: 0 25px;
  h2{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 2px;
    font-size: 20px;
  }
}
